* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /*  background-color: #f4f4f4; */
    height: 100%;
    line-height: 1.58;

    /* Center and scale the image nicely */
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15) !important;
}

body:before {
    background: coral;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.hidden {
    display: none;
}

.form-control {
    border: 1px solid #c8c8c8;
    font-size: 15px;
    min-height: 38px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

input {
    outline: none;
    padding-left: 10px;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 1.7em;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

a {
    color: chocolate;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

button {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    min-height: 38px;
    outline: none;
    padding: 0.6rem 1rem;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}


button.default {
    background-color: #e8e8e8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    color: #333;
}

button.primary {
    background-color: chocolate;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

button.accent {
    background-color: coral;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

a.accent {
    background-color: coral;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 100%;
    margin-top: 10px;
    min-height: 38px;
    outline: none;
    padding: 1rem 1rem;
    transition: all 0.2s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
}

a.accent:hover {
    background-color: #fd7c4c;
    color: white;
    text-decoration: none;
}

button.accent:hover {
    background-color: #fd7c4c;
}


#username-page {
    text-align: center;
}

.user-login-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    display: inline-block;
    left: 0;
    margin: 0 auto;
    margin-top: -160px;
    max-width: 500px;
    min-height: 250px;
    padding: 35px 55px 35px;
    position: absolute;
    right: 0;
    top: 50%;
    vertical-align: middle;
    width: 100%;
}

/*.username-page-container .username-submit {*/
/*    margin-top: 10px;*/
/*}*/


#chat-page {
    height: 100%;
    position: relative;
}

.chat-container {
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    height: calc(100% - 200px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 700px;
    position: relative;
}

#chat-page ul {
    background-color: #FFF;
    height: calc(100% - 150px);
    list-style-type: none;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px;
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    border-bottom: 1px solid #f4f4f4;
    line-height: 1.5rem;
    margin: 0;
    padding: 10px 20px;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    clear: both;
    text-align: center;
    width: 100%;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    height: 42px;
    left: 10px;
    line-height: 42px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 42px;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    height: 38px;
    margin-left: 5px;
    width: 80px;
}

.chat-header {
    border-bottom: 1px solid #ececec;
    padding: 15px;
    text-align: center;
}

.chat-header h2 {
    font-weight: 500;
    margin: 0;
}

.connecting {
    color: #777;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    top: 65px;
    width: 100%;
}


@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
        width: auto;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group a {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }

    a.inline {
        display: inline;
    }

}

.users-container {
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    height: 95%;
    left: 50%;
    padding: 1% 2%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.right {
    display: inline-block;
    float: right;
}

.left {
    display: inline-block;
    float: left;
}

.table td {
    padding-top: 15px !important;
    text-align: inherit;
}

.table th {
    padding-top: 50px !important;
}

a.link {
    color: coral;
}

a.link:hover {
    color: #fd7c4c;
}

.white-btn {
    background-color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    color: coral !important;
    margin-right: 20px;
}

.white-btn:hover {
    background-color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    color: #fd7c4c !important;
}

.outer {
    text-align: right;
    width: 100%;
}

.inner {
    display: inline-block !important;
}

.shadow {
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

tbody {
    display: block;
    height: auto;
    max-height: 550px;
    overflow: auto;
}

thead, tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

thead {
    width: calc(100%);
}



